<!-- 
    login.html
    Author: Asad Soomro
    Email: asoomro@bu.edu

    This template renders the login page for the Rock City web application. It includes a form 
    for users to log in and a link to the sign-up page for new users.
--> 

{% extends "project/base.html" %}
{% load static %}
{% block content %}
<div class="login-container">
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="login-button">Log in</button>
    </form>
    <p>Don’t have an account? <a href="{% url 'signup' %}">Sign up here</a>.</p>
</div>
{% endblock %}
