{% extends 'mini_fb/base.html' %}
{% load static %}

{% block content %}
<h2>Create a new status for {{ profile.first_name }} {{ profile.last_name }}</h2>

<form method="post" action="{% url 'create_status' profile.pk %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{ status_form.as_p }}
    
    <!-- Allow multiple files to be uploaded -->
    <label for="files">Upload Images:</label>
    <input type="file" name="files" multiple>
    
    <input type="submit" value="Post Status">
</form>

<a href="{% url 'show_profile' profile.pk %}">Back to Profile</a>
{% endblock %}
