{% extends 'mini_fb/base.html' %}
{% load static %}
{% block content %}
    <h1>{{ object.first_name }} {{ object.last_name }}</h1>
    <p><strong>City:</strong> {{ object.city }}</p>
    <p><strong>Email:</strong> {{ object.email }}</p>
    <img src="{{ object.profile_image_url }}" alt="Profile Image" width="500">

    <h3>Status Messages</h3>
    <ul>
        {% for status in object.get_status_messages %}
            <li>
                <strong>{{ status.timestamp }}:</strong> {{ status.message }}
                <a href="{% url 'update_status' status.pk %}">Update</a> | 
                <a href="{% url 'delete_status' status.pk %}">Delete</a>
                <!-- Loop through and display images associated with this status message -->
                <div>
                    {% for img in status.get_images %}
                        <img src="{{ img.image_file.url }}" alt="Image for Status" width="300">
                    {% endfor %}
                </div>
            </li>
        {% empty %}
            <p>No status messages available.</p>
        {% endfor %}
    </ul>

    <!-- Form to create a new status -->
    <h3>Post a new status</h3>
    <form method="post" action="{% url 'create_status' object.pk %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ status_form.as_p }}
        <input type="file" name="files" multiple> <!-- Allow image uploads -->
        <input type="submit" value="Post Status">
    </form>

    <h3>Friends</h3>
    <div class="friend-container">
        {% for friend in object.get_friends %}
        <a href="{% url 'show_profile' friend.pk %}" class="friend-link">
            <div class="friend-item">
                <img src="{{ friend.profile_image_url }}" alt="{{ friend.first_name }}" class="friend-image">
                <p>{{ friend.first_name }} {{ friend.last_name }}</p>
            </div>
        </a>
        {% endfor %}
    </div>

    <a href="{% url 'update_profile' object.pk %}">Update Profile</a>
    <a href="{% url 'show_all_profiles' %}">Back to All Profiles</a>
{% endblock %}
